Source: ros-kinetic-people
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/people
Standards-Version: 3.9.2

Package: ros-kinetic-people
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-face-detector, ros-kinetic-leg-detector, ros-kinetic-people-msgs, ros-kinetic-people-tracking-filter
Description: The people stack holds algorithms for perceiving people from a number of sensors.
